<a id="projects" class="anchor"></a>
<div id="project-summary" class="text-left py-4">
  <div class="container">
    <h1 class="mb-4"><i class="fab fa-github"></i> My Github projects</h1>
    <div class="row">
      <div *ngFor="let project of githubProjects" class="col-lg-4 col-md-6 col-sm-12 px-md-1">
        <mat-card class="mb-2">
          <mat-card-title>{{project.name}}</mat-card-title>
          <mat-card-content>
            <p>{{project.description}}</p>
            <mat-divider></mat-divider>
          </mat-card-content>
          <mat-card-actions>
            <a [attr.href]="project.html_url" mat-button color="primary">Repository</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
