@import '../../styles/variables';

.parallax-container {
  height: 380px;
  color: white;
  padding-top: 80px;
}

.content {

  h4 {
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px #000000, -1px -1px #000000;
  }

  h3 {
    text-shadow: 2px 2px #000000, -1px -1px #000000;
  }

  img {
    display: block;
    width: 128px;
    height: 128px;
    margin: auto;
  }

}
