<footer>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1>Contact me</h1>
        <p>You can contact me for more informations on my projects or any opportunity.</p>
      </div>
      <div class="col-4">
        <h1>Contact information</h1>
        <ul>
          <li>joscelyn.jean[a]gmail.com</li>
          <li><a href="https://twitter.com/joscelynjean"></a>Twitter</li>
          <li><a href="https://ca.linkedin.com/in/joscelynjean">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="float-left">© 2018 Joscelyn Jean</div>
      <div class="float-right">Version 2.0.0</div>
      <br>
    </div>
  </div>
</footer>
