footer {
  text-align: left;
  color: white;
}

a {
  color: white;
}

.light-blue-darken-1 {
  background-color: #039be5;
}

.light-blue-darken-2 {
  background-color: #0288d1;
}

ul {
  padding: 0;
  list-style-type: none;
}
