<div id="section-presentation">
  <div class="container">
    <div class="row">
        <div class="col s12">
          <h4>{{ 'summary.aboutMeTitle' | translate }}</h4>
          <p>{{ 'summary.aboutMeDescription' | translate }}</p>
        </div>
        <div class="col s12">
          <h4>{{ 'summary.socialNetworkTitle' | translate }}</h4>
        </div>
        <div class="col s4"><a href="https://ca.linkedin.com/in/joscelynjean"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></div>
        <div class="col s4"><a href="https://plus.google.com/u/0/103894527606731276549"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a></div>
        <div class="col s4"><a href="https://twitter.com/joscelynjean"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></div>
    </div>
  </div>
</div>
