@import '~@angular/material/theming';

$image-size: 150px;

a {
  color: white;
}

img {
  border: 5px solid white;
  width: $image-size;
  height: $image-size;
  @include mat-elevation(2);
}

#profile-summary {
  padding-top: 58px;
  background-image: url('../../../../../assets/images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  color: white;
  text-shadow: 1px 1px 8px #000;
}
