<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <img class="rounded-circle" src="../../assets/images/joscelyn.jpg" />
      <h1>Joscelyn Jean</h1>
      <h2>Computer engineer</h2>
      <h3><i class="material-icons">work</i>Solution architect @ City of Montreal</h3>
      <h3><i class="material-icons">location_on</i>Montreal, Quebec, Canada</h3>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-6">
      <a class="twitter-timeline" data-height="400" href="https://twitter.com/joscelynjean?ref_src=twsrc%5Etfw">Tweets
        by joscelynjean</a>
    </div>
  </div>
</div>
