@import '../styles/mixins';
@import '../styles/variables';

.logo {
  vertical-align:middle;
  width: 32px;
  height: 32px;
  margin-left: 30px;
  margin-right: 10px;
  background-image: url('/assets/images/logo.png');
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white;
  height: $headerHeight;
  width: 100%;
  border-bottom: solid 1px $colorLightGrey;

  .valign-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  span {
    vertical-align: middle;
  }
  .firstname {
    text-transform: uppercase;
  }
  .lastname {
    text-transform: uppercase;
  }

  .menu {
    color: black;
    float: right;
  }

  div {
    display: inline-block;
  }

  ul {
    list-style-type: none;
  }

  @media screen and (min-width: 756px) {

    a {
      padding-left: 8px;
      padding-right: 8px;
    }

    li {
      display: inline;
      vertical-align: middle;
    }

    li:last-child {
      padding-left: 12px;
      padding-right: 20px;
    }

  }

  @media screen and (max-width: 755px) {

    ul {
      position: fixed;
      margin: 0;
      top: -20px;
      right: -15px;
      left: -800px;
      padding-left: 634px;
      padding-top: 8px;
      height: 2000px;
      background-color: rgba(0, 0, 0, 0.95);
      display:none;
    }
    ul:before {
      cursor: pointer;
      text-align: right;
      padding-left: 167px;
      content: "\f00d";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 2em;
      line-height: 1.6em;
    }

    .menu {
      color: white;
      margin-right: 15px;
    }
    .menu:before {
      cursor: pointer;
      color: black;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 2em;
      line-height: 0.75em;
      vertical-align: -15%;
      content: "\f0c9";
    }

    a.btn-flat {
      color: white;
      padding-left: 0;
    }
    a.btn {
      margin-top: 12px;
    }
    
  }
}
