@import '../styles/variables';

.logo {
  vertical-align:middle;
  width: 32px;
  height: 32px;
  margin-left: 30px;
  margin-right: 10px;
  background-image: url('/assets/images/logo.png');
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white;
  height: $headerHeight;
  width: 100%;
  border-bottom: solid 1px $colorLightGrey;

  .valign-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  span {
    vertical-align: middle;
  }
  .firstname {
    text-transform: uppercase;
  }
  .lastname {
    text-transform: uppercase;
  }

  .menu {
    float: right;
  }

  div {
    display: inline-block;
  }

  ul {
    list-style-type: none;
  }
  li {
    display: inline;
    padding-right: 20px;
    vertical-align: middle;
  }
}
