@import '~@angular/material/theming';

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  z-index: 2000;
  @include mat-elevation(2);
}

.logo {
  width: 32px;
  height: 32px;
  background-image: url('../../../assets/images/logo.png');
}
