<div id="community-summary" class="text-left py-4">
  <div class="container">
    <h1 class="mb-4"><i class="far fa-comments"></i> In the community</h1>
    <div class="row">
      <div class="col-lg-6 col-md-8">
        <h4><i class="fab fa-stack-overflow"></i> Latest on StackOverflow</h4>
        <app-stackoverflow></app-stackoverflow>
      </div>
      <div class="col-lg-6 col-md-4">
        <h4><i class="fab fa-twitter"></i> Latest on Twitter</h4>
        <app-twitter></app-twitter>
      </div>
    </div>
  </div>
</div>
