<div id="projects" class="parallax-container">
  <div class="parallax-content valign-wrapper">
    <h1 class="valign">{{ 'project.title' | translate }}</h1>
  </div>
  <div class="parallax"><img src="assets/images/parallax-projects.jpg" alt=""></div>
</div>

<div>
  <div class="container">
    <h2><i class="fa fa-github" aria-hidden="true"></i> {{ 'project.github' | translate }}</h2>
    <div class="row">
      <div class="col s12 m6" *ngFor="let project of projects | async">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{project.name}}</span>
            <p>{{project.description}}</p>
          </div>
          <div class="card-action">
            <a href="{{project.html_url}}">{{ 'project.repository' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
