<div class="row center-align">
  <h4 id="projects"><i class="fa fa-github" aria-hidden="true"></i> {{ 'project.title' | translate }}</h4>
  <p>{{ 'project.description' | translate }}</p>
</div>
<div class="row">
  <div class="col s12 m6" *ngFor="let project of projects | async">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{project.name}}</span>
        <p>{{project.description}}</p>
      </div>
      <div class="card-action">
        <a href="{{project.html_url}}">{{ 'project.repository' | translate }}</a>
      </div>
    </div>
  </div>
</div>
